<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portifólio</title>
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <div id="absoluto-inicio">
      <nav id="headerbar">
        <div id="bartop-mid">
          <a id="nome">
            <span id="equilibrarnome">
              <img id="iconfoto" src="/src/images/rosto40x40.jpg" />
              <span id="nomeluann">Luann</span>
              <span id="nomedev">.dev</span>
          </a>
          <nav id="navitens">
            <span>Início</span>
            <span>Sobre</span>
            <span>Skills</span>
            <span>Projetos</span>
            <span>Contato</span>
          </nav>
        </div>
      </nav>
      <div id="cointainer-apresentacao">
        <div id="bannermid"></div>
        <h1 id="nomeapresentacao">Luann Eliseu</h1>
      </div>
    </div>
    <div id="absoluto-sobremim">
      <div id="cointainer-sobre"><div>asdsa</div></div>
    </div>

    <script src="/src/scripts/script.js"></script>
  </body>
</html>
