<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portifólio</title>
    <link rel="stylesheet" href="/src/css/index.css" />
    <link rel="stylesheet" href="/teste.css">
  </head>
  <body>
    <div class="bg">
  <div class="glow"></div>
</div>
    <div id="absoluto-inicio">
      <nav id="headerbar">
        <div id="bartop-mid">
          <a id="nome">
            <span id="equilibrarnome">
              <img id="iconfoto" src="/src/images/rosto40x40.jpg" />
              <span id="nomeluann">Luann</span>
              <span id="nomedev">.dev</span>
          </a>
          <nav id="navitens">
            <span>Início</span>
            <span>Sobre</span>
            <span>Skills</span>
            <span>Projetos</span>
            <span>Contato</span>
          </nav>
        </div>
      </nav>
      <div id="cointainer-apresentacao">
        <div id="bannermid">
        <div id="divnomeapresentacao"><h1 id="nomeapresentacao">Luann <span id="gradienttext">Eliseu</span></h1></div>
        <div id="divcargo"><h2 id="cargo"><span id="gradienttext">Estudante de Análise de Desenvolvimento de Sistemas</span></h2></div>
        <div id="divlocalizacao"><h3 id="localizacao">🌍 <span>Rio Grande do Sul, Brasil</span></h3></div>
        <div id="divbotoes">
          <button id="botaocontato">Entre em contato</button>
          <button id="botaocv">Download CV</button>
          <button id="botaosaiba">Saiba mais</button>
        </div>
        <div id="divsocial">
          <button id="github" onclick=""></button>
          <button id="linkedin"> </button>
          <button id="ig"></button>
          <button id="email"></button>
        </div>
        </div>
      </div>
    </div>
    <div id="absoluto-sobremim">
      <div id="cointainer-sobre"><div>asdsa</div></div>
    </div>

    <script src="/src/scripts/script.js"></script>
  </body>
</html>
