<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portifólio</title>
    <link rel="stylesheet" href="/src/css/index.css" />
    <link rel="stylesheet" href="/teste.css">
  </head>
  <body>
    <div id="absoluto-inicio">
          <div class="bg">
  <div class="glow"></div>
</div> 
      <nav id="headerbar">
        <div id="bartop-mid">
          <a id="nome">
            <span id="equilibrarnome">
              <img id="iconfoto" src="/src/images/rosto40x40.jpg" />
              <span id="nomeluann">Luann</span>
              <span id="nomedev">.dev</span>
          </a>
          <nav id="navitens">
            <span>Início</span>
            <span>Sobre mim</span>
            <span>Skills</span>
            <span>Portifólio</span>
            <span>Contato</span>
          </nav>
        </div>
      </nav>
      <div id="cointainer-apresentacao">
        <div id="bannermid">
        <div id="divnomeapresentacao"><h1 id="nomeapresentacao">Luann <span id="gradienttext">Eliseu</span></h1></div>
        <div id="divcargo"><h2 id="cargo"><span id="gradienttext">Estudante de Análise de Desenvolvimento de Sistemas</span></h2></div>
        <div id="divlocalizacao"><h3 id="localizacao">🌍 <span>Rio Grande do Sul, Brasil</span></h3></div>
        <div id="divbotoes">
          <button id="botaocontato">Entre em contato</button>
          <button id="botaocv">Download CV</button>
          <button id="botaosaiba">Saiba mais</button>
        </div>
        <div id="divsocial">
          <button id="github" onclick=""></button>
          <button id="linkedin"> </button>
          <button id="ig"></button>
          <button id="email"></button>
        </div>
        </div>
      </div>
    </div>
    <div id="absoluto-sobremim">
      <div id="cointainer-sobre">
        <div id="titulo-sobre">
          <div id="titulo-principal"><h1 id="gradienttext">Sobre mim</h1></div>
          <div id="sub-titulo"><span>Conheça um pouco da minha história e trajetória na programação</span></div>
          <div id="bar-titulo">────────</div>
        </div>
        <div id="conteudo-sobre">
          <div id="parte-esq-sobre">
            <div id="sobre-text">
              <br>
              <p>
                <span id="gradienttext">></span> Olá! Prazer, me chamo <span id="gradienttext" class="bold">Luann Eliseu</span>, sou aspirante a desenvolvedor full-stack e estudante de <span id="gradienttext" class="bold">Análise e Desenvolvimento de Sistemas</span>
                <br><br> 
                <span id="gradienttext">></span> Atualmente estou construindo uma base sólida em criação de <span class="bold" style="color: rgb(143, 24, 44);">interface web </span> com <span class="bold" style="color: rgba(0, 255, 255, 0.225);">banco de dados</span>, boas práticas e desenvolvimento de aplicações pensadas para usuários.
                <br><br>
                <span id="gradienttext">></span> Tenho conhecimento e prática nas principais tecnologias, incluindo: <span class="bold" style="color: chocolate;">HTML</span> & <span class="bold" style="color: rgba(0, 255, 255, 0.358);">CSS</span> (semántica, estrutura, estilização),
                <span class="bold" style="color: orange;">JavaScript</span> (lógica, consultar API, AJAX), <span class="bold" style="color: darkslateblue;">PhP</span> (protection injection, sessions), <span class="bold" style="color: rebeccapurple;">Git & GitHub</span> (versionamento, branches), 
                <span class="bold" style="color: purple;">Figma</span> (protótipo, estrutura, layouts), <span class="bold" style="color: cyan;">SQL</span> (diagramas, comunicações externas)
                <br><br>
                <span id="gradienttext">></span> No momento, estou focado em melhorar minha atuação em <span style="color: cyan;">boas práticas de código</span>, organização de projetos e criação de aplicações escaláveis.
              </p>
            </div>
          </div>
          <div id="parte-dir-sobre">
            <div id="container-mid-sobre-right">
              <div id="left-top-sobre"></div>
              <div id="left-bottom-sobre"></div>
              <div id="right-top-sobre"></div>
              <div id="right-bottom-sobre"></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <script src="/src/scripts/script.js"></script>
  </body>
</html>
