@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* BODY */

body {
  overflow: scroll;
  display: flex;
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
  flex-direction: column;
  /* background: linear-gradient(90deg, #ebe00794 0%, #eb90079a 100%); */
  background-image: url("/src/images/fundo-parede16x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HEADER

Parte de cima do site, onde é responsável por toda topbar

*/

#absoluto-inicio {
  height: 100vh;
}

#headerbar {
  display: flex;
  border: 1px solid red;
  background-color: rgba(17, 17, 17, 0.253);
  width: 100%;
  color: #b9b9b9;
  position: sticky;
  height: 8vh;
  top: 0;
  z-index: 1000;
  /* height: 8vh; */
  /* justify-content: center; */
  /* justify-items: center; */
}

#bartop-mid {
  border: 1px solid green;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

/* Nome */

#equilibrarnome {
  display: flex;
  align-content: center;
  text-justify: center;
  align-items: center;
}

#iconfoto {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

#iconmaior {
  width: 1vw;
  height: 1vh;
}

#iconmenor {
  padding-left: 2vh;
  width: 1vw;
  height: 1vh;
}

#nome {
  display: flex;
}

#nomeluann {
  padding-left: 1vw;
  color: #d32f2f;
  font-size: 150%;
}

#nomedev {
  padding-top: 0.4vw;
  padding-left: -10%;
  color: #b9b9b9;
}

/* OPCOES TOP BAR */

#navitens {
  border: 1px solid blue;
  align-items: center;
}

#navitens span {
  font-size: 80%;
  padding-left: 1vw;
}

/* COINTAINER APRESENTACAO */

#cointainer-apresentacao {
  border: 1px solid magenta;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nomeapresentacao {
  border: 1px solid red;
  color: white;
  align-self: center;
  text-align: center;
}

/* A PARTIR DA PARTE DO SOBREMIM */

#absoluto-sobremim {
  border: 1px solid rgb(38, 0, 255);
  height: 100vh;
}

#absoluto-sobremim div {
  width: 100%;
  background-color: #d32f2f;
}
